


.cards{
    display: flex;
    flex-direction: wrap;
    gap: 16px;            
}
.card{
border-radius: 8px;
padding: 20px;
width: 100%;
box-shadow: 0 4px 8px rgba(0,0,0,1);
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px 
}
section{
    padding: 21px;
    margin: 50px;
    background: (5, 54, 98)
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
}
body{
 background:rgb(5, 54, 98);
   color:white
}
.livro-container {
    display: flex;            
    align-items: center;      
    gap: 20px;                
}

.imagem-livro {
    width: 150px;            
    height: auto;
    border: 4px solid #f9fc59;
    border-radius: 8px;      
}

.texto-livro {
    flex: 1;                  
}
img{
    width: 500px;
    height: auto;
}
